# ASP.NET / .NET
bin/
obj/
*.dll
*.exe
*.pdb
*.log
appsettings*.json

# React / Node.js
Frontend_Ecommerce/ecommerce-frontend/node_modules/
Frontend_Ecommerce/ecommerce-frontend/build/
Frontend_Ecommerce/ecommerce-frontend/dist/
Frontend_Ecommerce/ecommerce-frontend/.env
